extends layout

block content
  table.w3-table
    tr
      th ID
      th Data do Início
      th Data do Fim
      th Instituição
      th Área de Investigação
    each contract in contracts
      tr
        td
          a(href="/" + contract._id)=contract._id
        td=contract.DataInicioContrato
        td=contract.DataFimContrato
        td
          a(href="/inst/" + contract.NIPCInstituicao)=contract.NomeInstituicao
        td=contract.AreasInvestigacao